.left {
    float:left;
}

.right {
    float:right;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.company-wrap {

}

.store-wrap {
    margin-left: 2px;
}

.aisle-wrap {
    margin-left: 4px;
}

.food-wrap {
    margin-left: 6px;
}

.active-aisle {
    background-color: red;
}
