<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>

    <link href="{% static "css/main.css"%}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "js/grocery.js" %}"></script>


</head>
<body>
    <div id="content">
        <div class="left">
            {% for company in companies %}
            <h1> Company </h1>
            <div>
                {{ company }}
                {% for store in company.stores.all %}
                <h2> Store </h2>
                <div>
                    {{ store }}
                    {% for aisle in store.aisles.all %}
                    <h3> Aisle </h3>
                    <div>
                        {{ aisle }}
                        <h4> FoodItems </h4>
                        {% for food_item in aisle.food_items.all %}
                        <div>
                            {{ food_item }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="right">
            <img src="http://i.imgur.com/KLpNYxE.gif" title="Demo Map">
        </div>
    </div>
</body>
